/* root colors */
:root {
  --orange-color: #fa7436;
  --white-color: #fefcfb;
  --gray-color: #666666;
  --lightgray-color: #999999;
  --lightwhite-color: #ffe7db;
  --darkblue-color: #4e4e73;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", "Volkhov";
}

/* header section styling */
/*common styling */
.wrapper {
  max-width: 1200px;
  margin: 16px auto;
  background-color: var(--white-color);
}

/*button styling */
.btn {
  text-decoration: none;
  padding: 8px 38px;
  border-radius: 4px;
  color: #fa7436;
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  right: -130px;
}

.btn.dark {
  text-decoration: none;
  padding: 8px 38px;
  border-radius: 4px;
  color: #fefcfb;
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  right: -120px;
}

.btn {
  background: var(--white-color);
}

.btn.dark {
  background: var(--orange-color);
}

/* navication */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  top: 0 px;
  width: 1000px;
  padding: 36px 4px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 38px;
  align-items: center;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
}

/*nav finished */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
  width: 100%;
  padding-top: 0px;
  color: #000;
  position: relative;

}

.hero-section .left h1 {
  font-family: "Volkhov", serif;
  font-weight: 900;
  font-size: 45px;
  line-height: 150%;
  margin-bottom: 16px;
  right: 16px;
  width: 400px;
  height: 210;
  padding: 400px 16px 2px;
  color: var(--black-orange-color);
}

.hero-section .left p {
  font-size: 16px;
  font-weight: normal;
  line-height: 200%;
  color: var(--white-color);
  margin-bottom: 24px;
  width: 400px;
  padding: 10px 38px 200px;
}

.hero-section .left .btn {
  text-decoration: none;
  bottom: 200px;
  border: #fa7436 solid 2px;
  margin-right: 16px;
  padding: 10px 38px;
  right: -40px;
  ;

}

.hero-section.right img {
  display: flex;
  position: absolute;
  right: -85px;
  top: -420px;
  width: 800px;
  height: 550px;
}

/* hero section finished */
/* searching section */
.searching-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searching-section .box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2px;
  background: var(--white-color);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 24px;
  position: absolute;
  bottom: -300px;
}

.searching-section .box h3 {
  font-family: "Poppins", sans-serif;
  font: bolder;
  font: normal;
  font-size: 20px;
  font-weight: 500;
  color: var(--black);
  margin: 0;
  padding: 16px 16px 68px 16px;
}

.searching-section .box img {
  width: 12px;
  height: 12px;
  top: -26px;
  right: 14px;
  position: relative;
}

.searching-section .box input {
  font-size: 12px;
  font-weight: 500px;
  color: var(--lightgray-color);
  margin: 0;
  top: 4px;
  right: 105px;
  position: relative;
  list-style: ;

}

.searching-section .box .btn.dark {
  text-decoration: none;
  padding: 20px 48px;
  border-radius: 4px;
  color: var(--white-color);
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  background: var(--orange-color);
  right: 18px;
}

/* searching section finished */
/* header section finished */

/* testimonial section start */

.testimonial-section {
  background-color: #F7F8FC;
  justify-content: center;
  align-items: center;
}

.testimonial-section top {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.testimonial-section .top h2 {
  text-align: center;
  color: var(--orange-color);
  font-family: "volkhov";
  font-size: 38px;
  padding: 38px 1px 8px 16px;

}

.testimonial-section .top p {
  text-align: center;
  color: var(--lightgray-color);
  font-size: 16px;


}

.testimonial-section .top img {
  display: flex;
  position: absolute;
  right: 330px;
  top: 865px;
  width: 190px;
  height: 890px;


}

.testimonial-section .bottom {
  display: flex;
  align-items: center;
  gap: 22px;
  padding: 70px 100px 100px 120px;

}

.testimonial-section .bottom .testimonial-box {
  align-items: center;
  justify-content: space-evenly;
  gap: 8px;
  background: var(--white-color);
  box-shadow: 14px 4px 15px rgba(0.1, 0.1, 0.1, 0.1);
  border-radius: 6px;
  border: 18px;
  bottom: 600px;
  width: 300px;
  height: 230px;
  padding: 32px;
}


/* testimonial section finished */

/* deals & discounts section */
.deals-section {
  justify-content: center;
  align-items: center;
  
}
.deals-section top {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;


}
.deals-section .top h2 {
  text-align: center;
  color: var(--orange-color);
  font-family: "volkhov";
  font-size: 38px;
  padding: 38px 1px 8px 16px;
}
.deals-section .top p {
  text-align: center;
  color: var(--lightgray-color);
  font-size: 16px;
}
.deals-section img {
 padding: 24px 20px 38px 550px;

}
.deals-section .bottom{
  align-items: center;
  padding: 38px 18px 24px 80px;

}
.deals-section .bottom img {
  width: 249px;
  height: 350px;
  padding: 8px 8px 8px 6px;
 
}
.deals-section .bottom .btn.dark{
  text-decoration: none;
  padding: 8px 4px 24px 12px;
  border-radius: 6px;
  color: var(--white-color);
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  background: var(--orange-color);
  right: -320px;
  top: -200px;
  width: 100px;
  height: 40px;

}
